###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Shooting with Raycasts in Unity3D/Assets/Assets/JMO Assets/WarFX/_Effects (Mobile)/Bullet Impacts/+ Bullet Hole/Lit/WFXMR_BImpact Metal + Hole Lit.prefab
Shooting with Raycasts in Unity3D/Assets/Assets/LowPolyStoragePack/Prefabs/Amp_Rack_01.prefab
Shooting with Raycasts in Unity3D/Assets/Assets/LowPolyStoragePack/Prefabs/Giftbox_03_Blue.prefab
Shooting with Raycasts in Unity3D/Assets/Assets/LowPolyStoragePack/Prefabs/Giftbox_03_Green.prefab
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/LowPolyWeapons_LITE/Materials/LowPolyWeaponsLite_BG.mat.meta
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/LowPolyWeapons_LITE/Materials/LowPolyWeaponsLite_MAIN.mat.meta
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/LowPolyWeapons_LITE/Prefabs/BulletLite_01.prefab.meta
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/LowPolyWeapons_LITE/Prefabs/BulletLite_02.prefab.meta
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/LowPolyWeapons_LITE/Prefabs/Knife_01.prefab.meta
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/LowPolyWeapons_LITE/Prefabs/Weapon_01.prefab.meta
Shooting with Raycasts in Unity3D/Assets/Assets/Weapons/Weapons_FREE/Materials/Material.mat
Shooting with Raycasts in Unity3D/Assets/Material/GroundPlane.mat
Tower-Defenc/.vs/Tower-Defenc/FileContentIndex/760c2b3e-c491-4ff5-b3e9-f0b5419f9d1d.vsidx
Tower-Defenc/.vs/Tower-Defenc/FileContentIndex/a75da4e9-ad38-4f81-be62-218269189a99.vsidx
Tower-Defenc/.vs/Tower-Defenc/FileContentIndex/ada26022-45a3-4ea6-aaa8-1f5716f86afe.vsidx
Tower-Defenc/.vs/Tower-Defenc/FileContentIndex/b6581b38-4a30-447a-9274-3b1baeb588dd.vsidx
Tower-Defenc/.vs/Tower-Defenc/FileContentIndex/d97437de-e094-4958-a00d-de35391ecc8d.vsidx
Tower-Defenc/Assets/Davyd/Scena/Make/Level1.unity
